<!-- <mat-card class="wrapper"> -->
<mat-tab-group mat-stretch-tabs  color="primary" class="wrapper">

  <mat-tab label="Users">
    <mat-card class="users-card card">
      <mat-card-header class="title">
        <mat-card-title>
          <h2>Registered Users</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="content">
        <mat-form-field class="input-filter">
          <input matInput (keyup)="applyUserFilter($event.target.value)" placeholder="Filter users" autocomplete="off">
        </mat-form-field>

        <table #userTable="matSort" mat-table [dataSource]="userDataSource" matSort>
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
          </ng-container>

          <!-- Username Column -->
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
            <td mat-cell *matCellDef="let element">{{element.username}}</td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let element">{{element.email}}</td>
          </ng-container>

          <!-- IsAdmin Column -->
          <ng-container matColumnDef="is_admin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Admin</th>
            <td mat-cell *matCellDef="let element">
              <mat-checkbox [checked]="element.is_admin" (change)="editUser($event, element.id)" color="primary"></mat-checkbox>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedUserColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedUserColumns;"></tr>
        </table>
        <mat-paginator #userPaginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab class="side" label="Categories">
    <mat-card class="cats-card card">
      <mat-card-header class="title">
        <mat-card-title>
          <h2>Test Categories</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="content">
        <mat-form-field class="input-filter">
          <input matInput (keyup)="applyCatFilter($event.target.value)" placeholder="Filter categories" autocomplete="off">
        </mat-form-field>

        <table #catTable="matSort" mat-table [dataSource]="catDataSource" matSort>
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="category_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let element">{{element.category_name}}</td>
          </ng-container>

          <!-- Description Column -->
          <ng-container matColumnDef="category_description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let element">{{element.category_description}}</td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element"><button mat-icon-button (click)="deleteCategory(element.id)">
                <mat-icon>delete</mat-icon>
              </button></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedCatColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedCatColumns;"></tr>
        </table>
        <mat-paginator #catPaginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

        <form [formGroup]="catForm" (ngSubmit)="addCategory()">
          <h4 class="add-cat-header">New category:</h4>
          <mat-form-field>
            <input matInput placeholder="Category name" formControlName="catName" autocomplete="off">
          </mat-form-field>
          <button mat-button color="primary" [disabled]="!catForm.valid">Insert</button>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
<!-- </mat-card> -->