mat-card {
    display: inline-block;
    margin: 0 40px 40px 0;
    vertical-align: top;
    max-width: 600px;
}

mat-form-field.input-filter {
    width: 100%;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 0 5px;
}

h4.add-cat-header {
    display: inline;
    margin-right: 12px;
}
