<mat-card *ngIf="test">

  <h1>{{test.test_title}}</h1>
  <h2>{{test.category.category_name}}</h2>

  <ng-container *ngIf="test.test_description">
    <h3>Description:</h3>
    <p class="desc">{{test.test_description}}</p>
  </ng-container>

  <form [formGroup]="testForm" (ngSubmit)="onSubmit()">
    <h3 class="qHeader">Questions:</h3>
    <ul class="questions">
      <li *ngFor="let question of test.questions; index as i">
        <div class="question">
          <div class="index">{{i + 1}}.</div>
          <div class="content">{{question.question_content}}</div>
        </div>
        <div class="answers">
          <!-- text input -->
          <mat-form-field *ngIf="question.question_type == 3" class="textInput">
            <input matInput placeholder="Answer" [formControlName]="question.id" autocomplete="off">
          </mat-form-field>
          <!-- checkbox -->
          <div *ngIf="question.question_type == 1" class="checkValues">
            <div *ngFor="let answer of question.answers; index as j" class="answerRadioCheck" [formArrayName]="question.id">
              <mat-checkbox [disabled]="alreadyTaken" [checked]="checkedAnswer(question.id, answer.id)" color="primary" (change)="updateCboxArray(answer.id, $event.checked, question.id)">{{answer.answer_content}}</mat-checkbox>
            </div>
          </div>
          <!-- radio -->
          <mat-radio-group *ngIf="question.question_type == 2" [formControlName]="question.id">
            <div *ngFor="let answer of question.answers" class="answerRadioCheck">
              <mat-radio-button [value]="answer.id" color="primary">{{answer.answer_content}}</mat-radio-button>
            </div>
          </mat-radio-group>

        </div>
      </li>
    </ul>

    <div class="submit-button-container" *ngIf="!alreadyTaken">
      <button mat-raised-button color="primary" type="submit" [disabled]="!testForm.valid">Submit</button>
    </div>

  </form>
</mat-card>
