.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card {
    padding: 80px 100px;
    max-width: 800px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

h3 {
    margin-top: 0;
    text-align: center;
    font-weight: normal;
    margin-bottom: 50px;
}

.desc {
    margin-top: 0;
    margin-bottom: 50px;
    font-style: italic
}

.qHeader {
    margin-bottom: 50px;
    text-align: left;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.question {
    display: flex;
    margin-bottom: 20px;
    font-weight: 500;
}

.question .content {
    text-align: justify;
}

.index {
    font-weight: bold;
    flex: 0 0 auto;
    margin-right: 10px;
}

/* input style */

.textInput {
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
}

/* radio style */

.answerRadioCheck {
    display: flex;
    margin-bottom: 10px;
}

/* checkbox style */

mat-checkbox {
    margin-right: 10px;
}

