form {
    padding: 20px;
    position: relative;
}

.full-width {
    width: 100%;
}

.form-group {
    display: flex;
    justify-content: flex-end;
}

button {
    margin: 8px 8px 0 0;
    text-transform: uppercase;
}

mat-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}