.wrapper {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2964bc;

    background-image: url('../../../../assets/images/authbackground.png');
    background-size: cover;
    background-position: center;

    z-index: -1;
}

.formCard {
    max-width: 400px;
    margin: 10px;
}

mat-card {
    padding: 0;
}

h1 {
    color: rgba(238, 238, 238, 0.836);
    font-weight: 300;
    font-size: 5em;
    margin: 40px;
    letter-spacing: 0.05em;
    text-align: right;
    padding-bottom: 20px;
    padding-right: 10%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    position: relative;
}

.star1, .star2 {
    position: absolute;
    bottom: -2px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
}

.star2 {
    right: 0px;
}