mat-toolbar {
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: fixed;
    top: 0; right: 0; left: 0;
    z-index: 3;
}

mat-toolbar > mat-icon {
    margin-right: 20px;
}

.logo {
    width: 40px;
    height: 40px;
    background-image: url('/assets/images/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10px;
}

.spacer {
    flex: 1 1 auto;
}

.userButton {
    margin-left: 30px;
}

.userButton h3 {
    display: inline;
    font-size: 15px;
    margin: 0px 16px;
}

.avatar {
    display: inline-block;
    background-image: url('/assets/images/avatar.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
    padding-top: 64px;
}

.sidenav {
    padding-top: 64px;
    overflow: hidden;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.sidenav > a, .menuButton {
    display: block;
    width: 60px;
    height: 60px;
    min-width: auto;
    padding: 0;
    border-radius: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.active-link {
    background-color: #3f51b5;
    color: rgb(255, 255, 255);
}

.menuButton {
    height: 100%;
}

.sidenav-content {
    padding: 40px;
    box-sizing: border-box;
}
