<mat-toolbar color="primary" >
    <button mat-button class="iconButton menuButton" (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <div class="logo"></div>
    <h3><a mat-button >Brew a Test</a></h3>
    <a mat-button >Calendar</a>

    <span class="spacer"></span>

    <button mat-icon-button class="iconButton"><mat-icon>search</mat-icon></button>
    <button mat-icon-button class="iconButton"><mat-icon>apps</mat-icon></button>
    <button mat-button [matMenuTriggerFor]="menu" class="userButton">
        <div class="avatar"></div>
        <h3>{{currentUser.username}}</h3>
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false" xPosition="before">
        <a mat-menu-item>
            <mat-icon>notifications</mat-icon>
            <span>Notifications</span>
        </a>
        <a mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
        </a>
        <a mat-menu-item [routerLink]="['/auth']">
            <mat-icon>exit_to_app</mat-icon>
            <span>Log out</span>
        </a>
    </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="container" autosize>

    <mat-sidenav #drawer class="sidenav" mode="side" opened>
        <a mat-button routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']"><mat-icon>home</mat-icon></a>
        <a mat-button routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/calendar']"><mat-icon>dashboard</mat-icon></a>
        <a mat-button routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><mat-icon>favorites</mat-icon></a>
        <a mat-button routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><mat-icon>check_circle</mat-icon></a>
        <a mat-button routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><mat-icon>face</mat-icon></a>
        <a mat-button routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/admin']" *ngIf="currentUser.isadmin"><mat-icon>perm_data_setting</mat-icon></a>
        <div class="spacer"></div>
        <a mat-button><mat-icon>settings</mat-icon></a>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content" cdkScrollable>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>
