<div class="calendar">
	<div *ngIf="testsByDate">
		<div *ngFor="let kvDate of testsByDate | keyvalue:descOrder">
			<h2 class="year">{{kvDate.key}}</h2>
			<div *ngFor="let month of kvDate.value | keyvalue:descOrder">
				<h3 class="month">{{this.monthName(month.key - 100)}}</h3>
				<div class="testsWrapper">
					<mat-card *ngFor="let test of month.value | keyvalue" class="testInfo">
						<mat-card-content class="content">
							<div class="info">
								<p class="catTitle">{{test.value.test_title}}</p>
								<p>{{test.value.category.category_name}}</p>
								<div class="separator"></div>
								<div class="date">
									<span class="dur">{{this.duration(test.value.start_time, test.value.end_time)}}</span>m
									<mat-icon>access_time</mat-icon>
									<span>{{this.format(test.value.start_time) | date:'dd MMM '}}</span>
									<span class="timeDate">{{this.format(test.value.start_time) | date:'hh:mm'}}</span>
								</div>
							</div>
							<div class="catLogoWrapper">
								<img src="/assets/images/cat{{test.value.category_id % 5}}.svg" class="catLogo">
							</div>
						</mat-card-content>
						<mat-card-actions class="actions">
							<a mat-button [routerLink]="['/profile', test.value.user_id]" class="creator">
								<img class="avatar" src="/assets/images/avatar{{test.value.user_id % 8}}.svg">
								<span>{{test.value.user.username}}</span>
							</a>
							<a class="view-test" mat-button [routerLink]="['/test', test.value.id]">View Test</a>
						</mat-card-actions>
					</mat-card>
				</div>
			</div>
		</div>
	</div>

	<a mat-fab class="addTest" color="primary" [routerLink]="['/brewer']"></a>

	<mat-form-field class="categories">
		<mat-select placeholder="Category" (selectionChange)="filter($event.value)" [(value)]="selected">
			<mat-option [value]="0">All</mat-option>
			<mat-option *ngFor="let cat of categories" [value]="cat.id">
			{{cat.category_name}}
			</mat-option>
		</mat-select>
	</mat-form-field>
</div>

