.calendar {
    padding-right: 100px;
}

.testsWrapper {
    display: flex;
    flex-wrap: wrap;
}

h3, h2 {
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 1.3em;
    color: #333;
    padding-top: 0;
    margin-top: 0;
}

h2 {
    font-weight: 500;
    font-size: 2em;
    color: #333;
    border-bottom: none;
}

.testInfo {
    /* align-self: center;
    align-self: center; */
    width: 300px;
    margin-right: 20px;
    margin-bottom: 40px;
    padding: 15px;
    padding-right: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    display: flex;
}

.info {
    width: 190px;
}

.date {
    display: flex;
    align-items: center;
}

.date mat-icon {
    margin: 0 4px 0 15px;
}

.timeDate {
    margin-left: 5px;
    font-weight: 500;
}

.dur {
    font-weight: 500;
}

.catLogoWrapper {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    flex: 1 1 auto;
}

.catLogo {
    width: 90px;
    height: 90px;
    background-color: #ffe212;
    border-radius: 50%;
}

.testInfo p {
    margin: 0 0 7px 0;
}

.separator {
    width: 40px;
    height: 2px;
    background-color: #ddd;
    margin-bottom: 7px;
}

.catTitle {
    font-weight: 500;
}

.actions {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    border-top: 1px solid #eee;
    padding: 8px 20px 8px 0 !important;
}

a.view-test {
    text-transform: uppercase;
}

.actions .creator {
    padding-left: 5px;
    margin-left: 16px;
}

.avatar {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
}

/* Scroll */

.addTest {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-image: url('/assets/images/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

/* Categories filter */

.categories {
    position: fixed;
    top: 90px;
    right: 30px;
}